{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>3DU Login</title>
  <link rel="stylesheet" href="{% static "users/css/login.css" %}">
</head>

<script>
    var csrfmiddlewaretoken = '{{ csrf_token }}';
</script>

<body>
  <div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		<span id="message" style="color:red;font-weight:bold"></span>
		<form class="form">
			<input type="text" id="txt_uname" placeholder="email">
			<input type="password" id="txt_pwd" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="{% static "users/js/index.js" %}"></script>
</body>
</html>
