{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{NAME}}</title>
    <link rel="stylesheet" href="{% static "users/css/login.css" %}">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</head>

<body>
<div class="wrapper">
    <div class="container">
		<h1>{{NAME}}</h1>
        <span id="message" style="color:red;font-weight:bold"></span>
        <form action="javascript:register()" id="loginform" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}<br>
            <button type="submit" id="login-button">Register</button>
        </form>
    </div>
</div>
</body>

<script>
	function failLogin(message) {
		$("#message").html(message);
		$('.wrapper').removeClass('form-success');
		$('form').fadeIn(200);
	}

	function register() {
		var formData = new FormData($('form')[0]);

		$.ajax({
			type: "POST",
			enctype: 'multipart/form-data',
			data: formData,
			cache: false,
			contentType: false,
			processData: false,
			dataType : "text",
			success: function (data) {
					var url = new URL(window.location.href);
					var next = url.searchParams.get("next");
					window.location = next || "/";
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				failLogin(XMLHttpRequest.responseText);
			},
		});
	}
</script>
</html>
